#belcms_user_nav {
	display: block;
	background-color: rgba(0,0,0,.15);
	margin: 15px auto;
	border-radius: 4px;
}
	#belcms_user_nav ul {
		display: table;
		width: 100%;
		list-style: none;
		height: 35px;
	}
		#belcms_user_nav ul li {
			display: table-cell;
			list-style: none;
		}
			#belcms_user_nav ul li a {
				display: block;
				line-height: 35px;
				padding: 0 15px;
			}
			#belcms_user_nav ul li a:hover {
				list-style: none;
				background-color: rgba(0,0,0,.15);
			}
#user_img {
	width: 200px;
	height: 200px;
}
#user_h2 {
	text-align: center;
	background-color: rgba(0, 0, 0, .15);
	color: #FFF;
	line-height: 35px
}
#user_detail {
	text-align: left !important;
	background-color: #232B32;
	border-radius: 4px;
}
#user_detail table td {
	color: rgba(255, 255, 255, 0.41);
	line-height: 35px;
	background-color: #2E3A42;
	padding: 0 25px;
	width: 180px;
	font-weight: bold;
}
#user_detail table td:nth-child(2) {
	width: calc(100% - 180px);
	font-weight: normal;
}
#belcms_user_table {
	width: 100%;
	border-collapse: separate; 
	border-spacing: 0 1em;
	border: none;
}
#belcms_user_table tr {
	margin-bottom: 5px;
	border: none;
}
#belcms_user_table tr td {
	border: none;
}
#belcms_user_table input,
#belcms_user_table select {
	width: 100%;
}

