.alert-boxes-preview {
    overflow: hidden;

    .alert-boxes-preview-description {
        float: left;
        width: 38%;

        p {
            font-size: $paragraph-fs-small;
            line-height: 20px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .text-header {
            font-size: $paragraph-fs;
            line-height: 1em;
        }
    }

    .alert-boxes-preview-links {
        float: right;
        width: 55%;

        .button {
            float: left;
            width: 48%;
            margin-bottom: 20px;

            &:nth-child(2n+2) {
                float: right;
            }
        }
    }
}

.alert-box {
    width: 300px;
    padding: 34px 24px 26px;
    border: 1px solid $main-border-color;
    background-color: $white;
    box-shadow: 0px 0px 16px 0px rgba(1, 2, 0, 0.2);
    position: relative;

    p {
        font-size: $paragraph-fs-small;
        line-height: 20px;
    }

    .text-header {
        font-size: $paragraph-fs-medium;
        line-height: 1em;
    }

    img[alt="close-icon"] {
        position: absolute;
        top: 10px;
        right: 12px;
        opacity: .5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    &.survey {
        padding-top: 60px;

        p {
            text-align: center;
        }

        .survey-img {
            width: 66px;
            height: 66px;
            position: absolute;
            top: -33px;
            left: 50%;
            margin-left: -33px;

            img {
                border-radius: 50%;
            }
        }

        .text-header {
            margin-bottom: 20px;
        }

        .timestamp {
            margin: 10px 0 30px;
        }

        .button {
            width: 100%;
        }
    }

    &.review {
        .text-header {
            margin-bottom: 20px;
        }

        .timestamp {
            margin: 10px 0 30px;
        }

        .review-buttons {
            overflow: hidden;

            .button {
                float: left;
                width: 120px;

                &:last-child {
                    float: right;
                }
            }

            .sl-icon {
                font-size: 18px;
                position: relative;
                top: 3px;

                &.icon-dislike {
                    top: 4px;
                }
            }
        }
    }

    &.item {
        min-height: 80px;
        padding: 20px 80px 12px 70px;

        .user-avatar {
            position: absolute;
            top: 20px;
            left: 16px;
        }

        p {
            &.info {
                font-size: $paragraph-fs-micro;
                line-height: 14px;
            }

            &.timestamp {
                font-size: $paragraph-fs-pin-big;
            }
        }

        .sl-icon {
            color: $primary-color;
            font-size: 18px;
            position: absolute;
            top: 30px;
            right: 20px;
        }
    }

    &.message {
        width: 400px;
        height: 140px;
        padding: 34px 40px 0 124px;

        &.info {
            .message-type {
                background: url('../images/dashboard/alert-info.png') no-repeat 24px 40px $secondary-color;
            }
        }

        &.success {
            .message-type {
                background: url('../images/dashboard/alert-success.png') no-repeat 24px 40px $primary-color;
            }
        }

        &.error {
            .message-type {
                background: url('../images/dashboard/alert-error.png') no-repeat 24px 40px $invalid-color;
            }
        }

        .message-type {
            width: 100px;
            height: 138px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .text-header {
            margin-bottom: 20px;
        }

        .info {
            overflow: hidden;
        }
    }
}

pre {
    padding: 24px 20px;
    background-color: $white-dark;
    border: 1px solid $main-border-color;
}


/*-------------------
  	MEDIA QUERIES
-------------------*/
@media screen and (max-width: 935px) {
    .alert-boxes-preview {
        .alert-boxes-preview-description,
        .alert-boxes-preview-links {
            float: none;
            width: 100%;
        }

        .alert-boxes-preview-links {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 630px) {
    .alert-boxes-preview {
        .alert-boxes-preview-links {
            .button {
                float: none;
                width: 100%;

                &:nth-child(2n+2) {
                    float: none;
                }
            }
        }
    }
}