.inbox-messages {
    border: 1px solid $main-border-color;
    padding-bottom: 36px;
    background-color: $white;

    .inbox-message {
        border: none;
        border-bottom: 1px solid $main-border-color;
    }

    .pager-wrap {
        text-align: right;

        .pager {
            display: inline-block;
            margin: 36px 30px 0 0;
        }
    }
}

.inbox-messages-preview {
    border: 1px solid $main-border-color;
    overflow: hidden;

    &.full {
        .inbox-message-preview {
            float: none;
            width: 100%;
            height: auto;
        }

        .inbox-message-preview-body {
            height: auto;
            overflow: hidden;
            border-bottom: none;
            padding-bottom: 26px;
        }

        .comment-list {
            padding: 0;
            border: 0;

            .comment-wrap {
                padding: 36px 30px 0 116px;

                &.comment-reply {
                    padding-top: 56px;

                    .user-avatar {
                        top: 66px;
                    }

                    .comment-reply-form {
                        textarea {
                            height: 140px;
                        }
                    }
                }
            }

            .user-avatar {
                left: 28px;
            }
        }
    }

    .inbox-messages, .inbox-message-preview {
        float: left;
        height: 730px;
    }

    .inbox-messages {
        width: 41%;
        border: none;
        border-right: 1px solid $main-border-color;
        padding-bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $main-border-color;
            border-radius: 200px;
            border: 4px solid $white;
        }

        &::-webkit-scrollbar-track {
            background-color: $white;
        }
    }

    .inbox-message-preview {
        width: 59%;
    }
}

.inbox-message-preview {
    background-color: $white;

    .inbox-message-preview-header {
        height: 65px;
        border-bottom: 1px solid $main-border-color;
        padding: 0 24px;

        .text-header, .report {
            line-height: 65px;
        }

        .text-header {
            float: left;
            font-size: 22px / 16px * 1em;

            img {
                position: relative;
                top: -1px;
                left: 6px;
            }
        }

        .report {
            float: right;
            color: $paragraph-color-light;
            font-size: $paragraph-fs-tiny;
        }
    }

    .inbox-message-preview-body {
        height: 605px;
        padding-bottom: 60px;
        border-bottom: 1px solid $main-border-color;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $main-border-color;
            border-radius: 200px;
            border: 4px solid $white;
        }

        &::-webkit-scrollbar-track {
            background-color: $white;
        }

        .message-preview {
            float: left;
            clear: both;

            &:nth-child(even) {
                float: right;
                padding: 42px 80px 0 40px;

                .user-avatar {
                    left: auto;
                    right: 24px;
                }

                p {
                    text-align: right;
                }
            }
        }
    }

    .inbox-reply-form {
        height: 58px;
        padding: 0 145px 0 10px;
        position: relative;

        input[type="text"] {
            height: 100%;
            border: none;
        }

        .button {
            position: absolute;
            top: 15px;
            right: 12px;
        }
    }
}

.message-preview {
    max-width: 540px;
    padding: 42px 40px 0 80px;
    position: relative;

    .user-avatar {
        position: absolute;
        top: 40px;
        left: 24px;
    }

    .text-header {
        margin-bottom: 4px;
    }

    .timestamp {
        margin-bottom: 10px;
    }
}

.inbox-message {
    height: 65px;
    background-color: $white;
    border: 1px solid $main-border-color;

    &.v2 {
        height: 112px;
        padding: 0 54px 0 102px;
        position: relative;

        p {
            line-height: 1em;
        }

        .inbox-message-actions {
            label {
               position: absolute;
               top: 28px;
               left: 14px;
               margin: 0;
            }

            .starred {
                float: none;
                margin: 0;
                position: absolute;
                top: 68px;
                left: 57px;
            }
        }

        .inbox-message-author {
            position: static;
            padding-left: 0;

            .text-header {
                margin-top: 20px;

                .message-icon {
                    display: inline;
                    position: relative;
                    top: 2px;
                    left: 10px;
                }
            }

             .user-avatar {
                top: 22px;
                left: 45px;
            }
        }

        .inbox-message-content {
            width: 100%;
            max-height: 40px;
            margin-top: 12px;

            p {
                font-size: $paragraph-fs-tiny;
            }

            .text-header, .description {
                max-width: 100%;
                line-height: 18px;
            }

            .text-header {
                margin-right: 8px;
            }
        }

        .inbox-message-date {
            margin: 0;
            position: absolute;
            top: 27px;
            right: 28px;

            p {
                font-size: $paragraph-fs-tiny;
            }
        }

        .inbox-message-type {
            display: none;
        }
    }

    .inbox-message-actions, .inbox-message-author,
    .inbox-message-content, .inbox-message-date,
    .inbox-message-type {
        float: left;
    }

    p {
        font-size: $paragraph-fs-small;
        line-height: 65px;
    }

    .inbox-message-actions {
        padding-left: 15px;

        label {
            float: left;
            margin-top: 19px;
        }

        .starred {
            float: left;
            width: 16px;
            height: 15px;
            margin: 25px 25px 0 12px;
            position: relative;
            cursor: pointer;

            img {
                &[alt^="star"] {
                    position: absolute;
                    top: 0;
                    left: 0;

                    &.visible {
                        display: block;
                    }

                    &.hidden {
                        display: none;
                    }
                }
            }
        }
    }

    .inbox-message-author {
        width: 240px;
        padding-left: 56px;
        position: relative;

        .text-header {
            .message-icon {
                display: none;
            }
        }

        .user-avatar {
            position: absolute;
            top: 12px;
            left: 0;
        }
    }

    .inbox-message-content {
        width: 45%;

        p {
            float: left;
        }

        .text-header, .description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .text-header {
            max-width: 22%;
            margin-right: 22px;

            &.normal {
                color: $paragraph-color;
                font-weight: $semibold;
            }
        }

        .description {
            max-width: 72%;
            color: $paragraph-color-light;
        }
    }

    .inbox-message-date, .inbox-message-type {
        float: right;
    }

    .inbox-message-date {
        margin-right: 42px;
    }

    .inbox-message-type {
        width: 58px;
        height: 65px;
        position: relative;
    }

    .message-icon {
        color: $paragraph-color;
        font-size: 18px;
        position: absolute;
        top: 23px;
        left: 0;

        &.primary {
            color: $primary-color;
        }

        &.secondary {
            color: $secondary-color;
        }
        
        &.tertiary {
            color: $tertiary-color;
        }
    }
}

.style-tool-bar {
    height: 53px;
    padding: 0 14px;
    border: 1px solid $main-border-color;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position: relative;
    top: 2px;

    .text-header {
        float: left;
        margin-right: 20px;
        font-size: $paragraph-fs-small;
        line-height: 53px;
    }

    .style-tool-bar-options {
        float: left;
        margin-top: 9px;
        overflow: hidden;

        li {
            float: left;
            border-right: 1px solid $main-border-color;

            &:first-child {
                border-left: 1px solid $main-border-color;                
            }

            p {
                padding: 0 14px;
                color: $paragraph-color-light;
                font-size: $paragraph-fs-small;
                font-weight: $bold;
                line-height: 32px;
                cursor: pointer;
                transition: all .3s ease;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}

/*-------------------
  	MEDIA QUERIES
-------------------*/
@media screen and (max-width: 1260px) {
    .inbox-messages-preview {
        .inbox-messages, .inbox-message-preview {
            float: none;
            width: 100%;
        }

        .inbox-messages {
            height: 223px;
            border-right: none;

            .inbox-message {
                &:last-child {
                    border-bottom: none;
                }
            }
        }

        &.full {
            .inbox-message-preview {
                .inbox-message-preview-header {
                    border-top: none;
                }
            }
        }

        .inbox-message-preview {
            .inbox-message-preview-header {
                border-top: 1px solid $main-border-color;
            }

            .inbox-message-preview-body {
                width: 100%;
            }
        }
    }

    .style-tool-bar {
        display: none;
    }
}

@media screen and (max-width: 935px) {
    .form-popup {
        &.new-message {
            width: 80%;
        }
    }
}

@media screen and (max-width: 630px) {
    .inbox-messages-preview {
        &.full {
            .comment-list {
                .comment-wrap {
                    padding-left: 66px;
                }

                .user-avatar {
                    left: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .form-popup {
        &.new-message {
            width: 95%;
        }
    }

    .inbox-message {
        &.v2 {
            padding-left: 50px;

            .inbox-message-actions {
                label {
                    top: 40px;
                }

                .starred {
                    top: 76px;
                    left: 15px;
                }
            }

            .inbox-message-author {
                .text-header {
                    .message-icon {
                        position: absolute;
                        top: 16px;
                        left: 14px;
                    }
                }

                .user-avatar {
                    display: none;
                }
            }

            .inbox-message-date {
                top: 21px;
                right: 14px;
            }
        }
    }

    .inbox-messages-preview {
        &.full {
            .inbox-message-preview {
                .inbox-message-preview-body {
                    height: auto;
                }
            }
        }

        .inbox-message-preview {
            .inbox-message-preview-header {
                height: auto;
                padding-top: 20px;
                padding-bottom: 20px;

                .text-header, .report {
                    float: none;
                    line-height: 1.5em;
                }

                .report {
                    margin-top: 10px;
                }
            }

            .inbox-message-preview-body {
                height: 566px;

                .message-preview {
                    &:nth-child(even) {
                        padding-right: 24px;
                    }
                }
            }
        }
    }

    .message-preview {
        padding-left: 24px;

        .user-avatar {
            display: none;
        }
    }
}

