.profile-notifications {
    margin: 0 auto 60px;

    .profile-notification {
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & + .pager-wrap {
        text-align: right;

        .pager {
            display: inline-block;
        }
    }
}

.profile-notification {
    height: 76px;
    padding: 0 36px 0 16px;
    background-color: $white;
    border: 1px solid $main-border-color;
    overflow: hidden;
    position: relative;

    .notification-close {
        width: 7px;
        height: 7px;
        position: absolute;
        top: 10px;
        right: 12px;
        background: url('../images/dashboard/notif-close-icon.png') no-repeat center;
        opacity: .5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    p {
        font-size: $paragraph-fs-small;
    }

    .profile-notification-date,
    .profile-notification-body {
        float: left;
    }

    .profile-notification-date {
        width: 106px;

        p {
            color: $paragraph-color-light;
            line-height: 74px;
        }
    }

    .profile-notification-body {
        padding-left: 54px;
        position: relative;

        .user-avatar {
            position: absolute;
            top: 17px;
            left: 0;
        }

        p {
            line-height: 74px;

            span {
                color: $main-color;
                font-weight: $bold;
            }
        }
    }

    .profile-notification-type {
        float: right;

        .type-icon {
            color: $paragraph-color;
            font-size: 18px;
            position: relative;
            top: 28px;

            &.primary {
                color: $primary-color;
            }

             &.secondary {
                color: $secondary-color-dark;
            }

             &.tertiary {
                color: $tertiary-color;
            }
        }
    }
}

/*-------------------
  	MEDIA QUERIES
-------------------*/
@media screen and (max-width: 935px) {
    .profile-notifications {
        width: 570px;
        overflow: hidden;

        .profile-notification {
            &:nth-child(2n+2) {
                margin-right: 0;
            }
        }

        & + .pager-wrap {
            text-align: center;
        }
    }

    .profile-notification {
        float: left;
        width: 270px;
        height: 170px;
        margin-right: 30px;

        .profile-notification-date {
            margin-right: 80px;
        }

        .profile-notification-body {
            .user-avatar {
                top: 0;
            }
            
            p {
                line-height: 1.5em;
            }
        }

        .profile-notification-type {
            float: none;
        }
    }
}

@media screen and (max-width: 630px) {
    .profile-notifications {
        width: 270px;

        .profile-notification {
            margin-right: 0;
        }
    }
}