@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);
$main-font: 'Titillium Web', sans-serif;
$semibold: 600;
$bold: 700;
/*----------------
  	FONT SIZE
----------------*/
$paragraph-fs-currency: 9px / 16px * 1em;
$paragraph-fs-pin: 9px / 16px * 1em;
$paragraph-fs-pin-big: 10px / 16px * 1em;
$paragraph-fs-timestamp: 10px / 16px * 1em;
$paragraph-fs-micro: 11px / 16px * 1em;
$paragraph-fs-tiny: 12px / 16px * 1em;
$paragraph-fs-small: 13px / 16px * 1em;
$paragraph-fs: 14px / 16px * 1em;
$paragraph-fs-medium: 1em;
$paragraph-fs-big: 20px / 16px * 1em;
$paragraph-fs-large: 26px / 16px * 1em;

$header-fs-larger: 54px / 16px * 1em;
$header-fs-large: 48px / 16px * 1em;
$header-fs-bigger: 36px / 16px * 1em;
$header-fs-big: 32px / 16px * 1em;
$header-fs-medium: 24px / 16px * 1em;
$header-fs: 20px / 16px * 1em;
$header-fs-small: 18px / 16px * 1em;
/*----------------
  	LINE HEIGHT
----------------*/
$paragraph-lh-micro: 14px / 11px * 1em;
$paragraph-lh-tiny: 14px / 12px * 1em;
$paragraph-lh-small: 22px / 14px * 1em;
$paragraph-lh: 24px / 14px * 1em;
$paragraph-lh-medium: 14px / 16px * 1em;