#footer-top-wrap {
	background-color: $footer-top-color;
}

#footer-top {
	min-height: 345px;
	padding-bottom: 58px;
	overflow: hidden;
	
	.company-info {
		float: left;
		width: 270px;
		padding-top: 58px;
		margin-right: 30px;
		
		.logo {
			margin-bottom: 20px;
		}
		
		p {
			color: $paragraph-color-light;
			font-size: $paragraph-fs-small;
			line-height: 20px / 13px * 1em;
		}

		.company-info-list {
			margin-top: 15px;
			
			.company-info-item {
				margin-bottom: 10px;
				
				.icon-present, .icon-energy, .icon-user {
					margin-right: 5px;
					color: $white;
					font-size: 17px;
					position: relative;
					top: 2px;
				}

				p {
					display: inline-block;
					color: $white;
					
					span {
						color: $primary-color-dark;
					}
				}
			}
		}
	}

	.footer-title {
		color: $white;
		font-size: $paragraph-fs-big;
		font-weight: $bold;
		line-height: 1em;
		margin-bottom: 32px;
	}

	.link-info, .twitter-feed {
		float: left;
		padding-top: 68px;
	}

	.link-info {
		width: 170px;
		margin-right: 30px;;
	}

	.twitter-feed {
		width: 270px;
		
		.tweets {
			li {
				padding-left: 34px;
				margin-bottom: 20px;
				position: relative;
				
				&:last-child {
					margin-bottom: 0;
				}
				
				&:before {
					content: url('../images/twt.png');
					position: absolute;
					top: 3px;
					left: 0;
				}

				.feed-text {
					color: $white;
					font-size: $paragraph-fs-small;
					line-height: 20px / 13px * 1em;
					margin-bottom: 6px;
					
					a {
						color: $primary-color-dark;
					}
				}

				.feed-timestamp {
					a {
						color: $paragraph-color-light;
						font-size: 12px / 14px * 1em;
					}
				}
			}
		}
	}
}

#footer-bottom-wrap {
	background-color: $footer-bottom-color;
}

#footer-bottom {
	min-height: 54px;
	
	p {
		color: $paragraph-color-light;
		font-size: $paragraph-fs-small;
		line-height: 54px;
		padding-left: 12px;
		position: relative;
		
		span {
			position: absolute;
			top: 0;
			left: 0;
		}
		
		a {
			color: $primary-color-dark;
		}
	}
}

.social-links {
	margin: 25px 0 0 5px;
	overflow: hidden;
	
	.social-link {
		float: left;
		
		a {
			display: block;
			position: relative;
		}

		&.fb {
			margin-right: 30px;
			
			a {
				width: 7px;
				height: 14px;
				background: url('../images/fb.png') no-repeat center;
			}
		}

		&.twt {
			margin-right: 26px;
			
			a {
				width: 18px;
				height: 13px;
				background: url('../images/twt.png') no-repeat center;
				top: 1px;
			}
		}

		&.db {
			margin-right: 32px;
			
			a {
				width: 16px;
				height: 17px;
				background: url('../images/db.png') no-repeat center;
				top: -1px;
			}
		}

		&.rss {
			a {
				width: 12px;
				height: 13px;
				background: url('../images/rss.png') no-repeat center;
				top: 1px;
			}
		}
	}
}

.link-list {
	.link-item {
		position: relative;
		margin-bottom: 12px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		.bullet {
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: $primary-color-dark;
			position: absolute;
			top: 7px;
			left: 0;
		}

		a {
			padding-left: 15px;
			color: $paragraph-color-light;
			font-size: $paragraph-fs-small;
			font-weight: $semibold;
			line-height: 1em;
			transition: all .15s ease-in;
			
			&:hover {
				color: $white;
				padding-left: 19px;
			}
		}
	}
}

/*-------------------
  	MEDIA QUERIES
-------------------*/
@media screen and (max-width: 1260px) {
	#footer-top {
		width: 570px;
		position: relative;
		
		.link-info {
			&:nth-child(2) {
				clear: left;
			}

			&:nth-child(4) {
				margin-right: 0;
			}
		}

		.twitter-feed {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

@media screen and (max-width: 630px) {
	#footer-top {
		width: 270px;
		
		.company-info {
			float: none;
		}
		
		.link-info {
			float: none;
			margin-right: 0;
		}

		.twitter-feed {
			float: none;
			position: static;
		}
	}

	#footer-bottom {
		p {
			font-size: $paragraph-fs-tiny;
		}
	}
}