.main-menu-wrap {
	background-color: $white;
	
	&.dark {
		background-color: $menu-dark-bg-color;
		
		.main-menu {
			.menu-item {
				border-right-color: $menu-dark-pipe-color;
				
				& > a {
					color: $white;
				}
			}

			.content-dropdown {
				background-color: $menu-dark-bg-color;
				border-color: $menu-dark-pipe-color;
				
				.feature-list-title {
					color: $white;
				}

				.line-separator {
					background-color: $menu-dark-pipe-color;
				}

				.feature-list-item {
					& > a {
						&:hover {
							color: $white;
						}
					}
				}
			}
		}
	}
}

.menu-bar {
	min-height: 71px;
	position: relative;
	
	.search-form {
		width: 320px;
		position: absolute;
		top: 14px;
		right: 0;
	}
}

.main-menu {
	min-height: 71px;
	position: relative;
	
	&.top-highlight {
		.menu-item {
			& > a {
				border-top: 6px solid transparent;
				line-height: 58px;
				padding-bottom: 7px;
			}
			
			&:hover {
				& > a {
					color: $main-color;
					background-color: $white;
					border-top-color: $primary-color;
					
					.svg-arrow {
						fill: $submenu-arrow-color;
					}
				}
			}
		}
	}
	
	.menu-item {
		float: left;
		border-right: 1px solid $menu-border-color;

		.svg-arrow {
			fill: $submenu-arrow-color;
			position: relative;
			left: 15px;
			transition: fill .15s ease-in-out;
			@include transform_rotate(90deg);
		}

		.dropdown {
			.svg-arrow {
				width: 5px;
				height: 11px;
				fill: $main-color;
				position: static;
				float: right;
				margin-right: 14px;
				margin-top: 22px;
				margin-left: 0;
				pointer-events: none;
				transition: none;
				@include transform_rotate(0deg);
			}
		}
		
		&.sub {
			& > a {
				padding-right: 40px;
			}
		}
		
		& > a {
			display: block;
			padding: 0 30px;
			color: $main-color;
			font-size: $paragraph-fs;
			font-weight: $bold;
			text-transform: uppercase;
			line-height: 71px;
			transition: all .15s ease-in-out;
		}

		&:hover {
			& > a {
				color: $white;
				background-color: $primary-color;
				
				.svg-arrow {
					fill: $white;
				}
			}

			& > .content-dropdown, & > .dropdown {
				top: 71px;
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}

		& > .content-dropdown {
			left: 0;
		}

		& > .content-dropdown, & > .dropdown {
			top: 0;
		}
	}
}

.content-dropdown {
	padding: 25px 40px 40px;
	background-color: $white;
	border: 1px solid $menu-border-color;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	z-index: $max-index;
	pointer-events: none;
}

.feature-list-block {
	float: left;
	margin-right: 30px;
	
	&:last-child {
		margin-right: 0;
	}

	.line-separator {
		margin-bottom: 16px;
	}

	.product-list {
		&.grid {
			.product-item {
				margin-bottom: 0;
			}
		}
	}
}

.feature-list-title {
	margin-bottom: 12px;
}

.feature-list {
	float: left;
	width: 170px;
	margin-right: 30px;
	
	&.spaced {
		margin-bottom: 20px;
	}
	
	& + .feature-list {
		float: right;
		margin-right: 0;
	}
}

.feature-list-item {
	margin-bottom: 12px;
	
	& > a {
		display: inline-block;
		line-height: 1em;
		color: $paragraph-color;
		font-size: $paragraph-fs-small;
		font-weight: $semibold;
		cursor: pointer;
		position: relative;
		transition: color .15s ease-in-out;
		
		&:hover {
			color: $main-color;
		}

		.pin {
			font-size: $paragraph-fs-pin-big;
			top: 0;
			right: -40px;
		}
	}
}

.search-form {
	position: relative;
	
	input[type="text"] {
		padding: 0 60px 0 20px;
	}

	input[type="image"] {
		position: absolute;
		top: 0;
		right: -2px;
	}
}

.side-menu {
	width: 270px;
	height: 100%;
	padding-bottom: 100px;
	background-color: $menu-dark-color;
	position: fixed;
	top: 0;
	z-index: $max-index;
	overflow: auto;
	transition: all .3s ease-in-out;
	
	&::-webkit-scrollbar {
			-webkit-appearance: none;
			appearance: none;
	}

	&::-webkit-scrollbar:vertical {
	    width: 12px;
	}

	&::-webkit-scrollbar:horizontal {
	    height: 12px;
	}

	&::-webkit-scrollbar-thumb {
	    background-color: $main-color-light;
	    border-radius: 10px;
	    border: 2px solid $main-color;
	}

	&::-webkit-scrollbar-track {
	    border-radius: 10px;  
	    background-color: $main-color; 
	}
	
	&.open {
		&.left {
			left: 0;
		}
		
		&.right {
			right: 0;
		}
	}

	&.closed {
		&.left {
			left: -270px;
		}
		
		&.right {
			right: -270px;
		}
	}

	.svg-plus {
		width: 14px;
		height: 14px;
		fill: $white;
		@include transform_rotate(45deg);
		position: absolute;
		top: 16px;
		right: 18px;
		cursor: pointer;
	}

	&.dashboard {
		padding-bottom: 0;
		
		&.closed {
			opacity: 1;
			visibility: visible;

			&.left {
				left: 0;
			}

			&.right {
				right: 0;
			}
		}

		.svg-plus {
			top: 28px;
			display: none;
		}

		.side-menu-header {
			height: 122px;
		}

		.user-quickview {
			margin: 32px 0 0 32px;
		}

		.inner-dropdown {
			padding-top: 15px;
		}

		.sl-icon {
			margin-right: 14px;
			position: relative;
			top: 1px;
			transition: all .01s ease;
		}

		.button {
			&:last-child {
				margin: 22px auto 100px;
			}
		}
	}
	
	.side-menu-header {
		height: 100px;
		background-color: $main-color;
		overflow: hidden;
	}

	.side-menu-title {
		padding-left: 20px;
		background-color: $main-color-dark;
		color: $main-color-light;
		font-size: $paragraph-fs-timestamp;
		font-weight: $bold;
		line-height: 35px;
		text-transform: uppercase;
	}
	
	.logo {
		margin: 28px 0 0 20px;
	}
	
	.dropdown {
		width: 100%;
		border-left: none;
		border-right: none;
		position: static;
	}

	&.right {
		right: 0;
	}

	&.left {
		left: 0;
	}

	.user-quickview {
		margin: 21px 0 0 20px;
		
		.user-name {
			cursor: auto;
		}
	}

	.button {
		width: 226px;
		margin: 0 auto;
		
		&:nth-last-child(2) {
			margin: 22px auto 18px;
		}
	}
}

/*-------------------
  	MEDIA QUERIES
-------------------*/
@media screen and (max-width: 1260px) {
	.main-menu {
		display: none;
	}

	.menu-bar {
		.search-form {
			width: 90%;
			margin: 0 auto;
			position: relative;
		}
	}
}