#belcms_main_user_account {
}
#belcms_main_user_safety {
	display: none;
}
#belcms_main_user_security {
	display: none;
}
#belcms_main_user_avatar {
	display: none;
}
#belcms_main_user_social {
	display: none;
}
#belcms_main_user_mobile {
	display: none;
}
#belcms_main_user_connexion {
	display: none;
}
	#belcms_main_managements_left {
		display: block;
		float: left;
		width: 290px;
	}
		#belcms_main_user_left_avatar {
			height: 155px;
			background: grey;
			position: relative;
			margin-bottom: 15px;
		}
			#belcms_main_user_left_avatar img {
				border-radius: 50%;
				height: 65px;
				width: 65px;
				border: 2px solid #fff;
				padding: 1px;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				color: #fff;
				position: absolute;
				bottom: 20px;
				left: 20px;
				z-index: 100;
			}
			#belcms_main_user_left_username {
				background: white;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50px;
				line-height: 50px;
				padding-left: 100px;
				z-index: 90;
			}
		#belcms_main_user_left_menu {

		}
			#belcms_main_user_left_menu .nav-link i {
				float: right;
				line-height: 30px;
			}
	#belcms_main_managements_right {
		display: block;
		float: right;
		width: calc(100% - 305px);
	}
	#belcms_main_user_right h2 {
		font-size: 1.3rem;
		line-height: 30px;
		border-bottom: 1px solid grey;
	}