.bel-cms-widgets {
	display: block;
	overflow: hidden;
	width: 100%;
}
.bel-cms-widgets-title {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.bel-cms-widgets-title:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.bel-cms-widgets-content {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.pull-right {
	float: right;
}
pre {
	background: rgb(66,66,66) !important;
	color: rgb(232, 232, 232) !important;
	padding: 20px;
}
section {
	width: 100%;
}
/* ==========================================================================
   BEL-CMS # Alert
   ========================================================================== */
#alrt_bel_cms {
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	position: fixed;
	border-bottom: 2px;
	border-color: #21a9ec;
	width: 100%;
	display: block;
	z-index: 99999;
	line-height: 35px;
	color: rgba(255, 255, 255, .95);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, .95);
	font-size: 12px;
	transition: background-color 0.2s ease 0s;
	vertical-align: middle;
	top: -35px;
}
#alrt_bel_cms.danger {
	background-color: #db3325;
	background-image: linear-gradient(rgba(219, 51, 37, 0), rgba(1, 0, 0, 0.1));
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
#alrt_bel_cms.warning {
	background-color: #f5a732;
	background-image: linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
#alrt_bel_cms.success {
	background-color: #7eb216;
	background-image: linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}

/* --- Modal --- */
.modal-backdrop {
	z-index: -1 !important;
}

/* Popup User Info */

#bel_cms_popup_user {
	display: block;
	position: absolute;
	max-width: 95%;
	padding: 5px;
	border-radius: 3px;
}
#bel_cms_popup_user header {

}
#bel_cms_popup_user_content {
	display: table;
}
#bel_cms_popup_user_avatar {
	display: table-cell;
}
#bel_cms_popup_user_infos {
	display: table-cell;
}
#bel_cms_popup_user_infos li {
	display: table;
}
#bel_cms_popup_user_infos li span {
	display: table-cell;
}
#bel_cms_popup_user_infos li span:first-child {
	font-weight: bold;
}
/*#########################################
# define constant array or simple name
#########################################*/
nav#bel_cms_comment {
	background: rgba(255, 255, 255, 1);
	display: block;
	width: 100%;
	overflow: hidden;
}
	nav#bel_cms_comment ul {
		list-style: none;
		padding: 0;
		border-top: 1px solid #e6ecf5;
		border-bottom: 1px solid #e6ecf5;
		margin: 25px -25px 0;
		padding-left: 35px;
	}
		nav#bel_cms_comment ul li.bel_cms_comment_item {
			padding: 25px;
			border-bottom: 1px solid #e6ecf5;
			position: relative;
			border-left: 1px solid #e6ecf5;
		}

		nav#bel_cms_comment ul li::before {
			content: "";
			position: absolute;
			width: 9px;
			height: 9px;
			top: 40px;
			left: -5px;
			background-color: #fafbfd;
			border-radius: 100%;
			border: 1px solid #c2c5d9;
		}
		nav#bel_cms_comment ul li.bel_cms_comment_item:last-child {
			border-bottom: none;
		}
			.bel_cms_comment_author {
				margin-bottom: 20px;
				display: inline-block;
				vertical-align: middle;
			}
				.bel_cms_comment_author a {
					display: inline-block;
					vertical-align: top;
				}
				.bel_cms_comment_author img {
					width: 26px;
					height: 26px;
					border-radius: 100%;
					overflow: hidden;
					margin-right: 12px;	
					margin-top: -25px
				}
			.bel_cms_comment_date {
				display: inline-block;
			}
				.bel_cms_comment_date a {
					display: block;
					text-decoration: none;
				}
#bel_cms_comment_more {
	text-align: center;
	padding: 15px 0;
	font-size: 12px;
	color: #515365;
	display: block;
	font-weight: 700;
	margin: 0 auto;
	border-bottom: 1px solid #e6ecf5;
}
#bel_cms_comment_textarea {
	padding: 25px;
	border-bottom: 1px solid #e6ecf5;
}
#bel_cms_comment textarea {
	display: block;
	min-height: 60px;
	height: 60px;
	border: 1px solid #e6ecf5;
	border-radius: .25rem;
	width: 100%;
	padding: 5px;
	margin: 20px 20px 0;
	width: calc(100% - 40px);
}
#bel_cms_comment button {
	margin: 20px;
	float: right;
}
/*#########################################
# popup full screen for BEL-CMS
#########################################*/
section#bel_cms_pup_full {
	position: fixed;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.75);
	width: 100%;
	left: 0;
	height: 100%;
	bottom: 0;
}
#bel_cms_pup_b {
	position: absolute;
	width: 700px;
	height: auto;
	left: calc(50% - 350px);
	top: 50%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#bel_cms_pup_b_title {
	background: #515050;
	line-height: 45px;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.9);
	color: #FFF;
}
#bel_cms_pup_b_content {
	background: #F4F4F4;
	padding: 15px;
	text-align: justify;
	color: #515050;
}
#bel_cms_pup_b_content a {
	font-weight: bold;
	color: #515050;
	text-decoration: none;
}
/*#########################################
# Breadcrumb
#########################################*/
nav#bel_cms-breadcrumb {
	display: block;
}
	nav#bel_cms-breadcrumb ul {
		display: block;
		overflow: hidden;
	}
		li.bel_cms-breadcrumb-item {
			float: left;
		}
		li.bel_cms-breadcrumb-item:after {
			content: '/';
			margin: 0 5px;
			float: right;
			display: block;
		}
		li.bel_cms-breadcrumb-item:last-child:after {
			display: none;
		}
		li.bel_cms-breadcrumb-item.active {
			font-weight: bold;
		}
/*#########################################
# Input
#########################################*/
/*
.bel_cms_box_input {
	display: block;
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
}
.bel_cms_box_input_horizontal {
	display: block;
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
}
	.bel_cms_box_input_horizontal label {
		display: block;
		width: 25%;
		float: left;
		line-height: 30px;
		padding: 0 5px;
	}
	.bel_cms_input,
	.bel_cms_box_input_horizontal input {
		background: #f7f7f7 none repeat scroll 0 0;
		border: 1px solid #d4d4d4;
		padding: 0 10px;
		height: 30px;
		border-radius: 2px;
		width: calc(75% - 35px); 
		float: left;
	}
	.bel_cms_input {
		width: calc(100% - 20px); 
		float: none;
	}
	select.bel_cms_input {
		width: calc(100% - 130px);
	}
	button.bel_cms_input {
		cursor: pointer;
	}
	.bel_cms_box_input_horizontal small {
		font-size: 80%;
		margin-left: calc(25% + 22px);
	}
button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
-webkit-transition: all 500ms linear;
-moz-transition: all 500ms linear;
-ms-transition: all 500ms linear;
-o-transition: all 500ms linear;
transition: all 500ms linear;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
-webkit-transition: all 500ms linear;
-moz-transition: all 500ms linear;
-ms-transition: all 500ms linear;
-o-transition: all 500ms linear;
transition: all 500ms linear;
}
button:active {
	position:relative;
	top:1px;
}
*/
/*#########################################
# Card
#########################################*/
.bel_cms-card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}
	.bel_cms-card header {
		padding: .75rem 1.25rem;
		margin-bottom: 0;
		background-color: rgba(0,0,0,.03);
		border-bottom: 1px solid rgba(0,0,0,.125);
	}
	.bel_cms-card header:first-child {
		border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	}
		.bel_cms-card header h2 {
			padding: 0; margin: 0;
			line-height: 35px
		}
	.bel_cms-card .bel_cms-body {
		flex: 1 1 auto;
		padding: 1.25rem;
	}
	footer.bel_cms-footer {
		padding: .75rem 1.25rem;
		background-color: rgba(0,0,0,.03);
		border-top: 1px solid rgba(0,0,0,.125);
	}
	footer.bel_cms-footer:last-child {
		border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
	}